.Hero-section{
    background-image: url(./hero.jpg);
    background-size: contain;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.hero-content h2{
    font-size: 60px;
    color: #fff;
    text-align: start;
}
 span{
    color: #FF9933;
}
.hero-content p{
    margin: 20px 0px 40px;
    font-size: 18px;
    color: #938d8d;
}
.hero-content Button{
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 5px 37px 40px 5px;
}