.shop-cart img{
    width: 200px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.card-main{
    width: 270px;
    background-color:#f9f4eb;
    padding: 20px;
    margin-top: 40px;
    border: 3px solid #ededed;
    border-radius: 30px;
    height: 443px;
}
.shop-cart p{
    text-decoration: none;
}
a{
    text-decoration: none !important;
}